<div id="logindiv">
  <form class="form" action="#" id="login">
    <h3>Login Form</h3>
    <hr/>
    <label>Username : </label>
    <input type="text" class="username" placeholder="John Dow" />
    <label>Password : </label>
    <input type="text" class="password" placeholder="************" />
    <hr/>
    <input type="button" class="loginbtn" value="Login" />
    <a href="/">
    <input type="button" class="cancelbtn" value="Return" />
    </a>
  </form>
</div>
